<h3>Edit: <%= @user.email %></h3>

<%= form_for @user do |f| %>

  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
  <%= f.password_field :current_password %></div>
  
  <div><%= f.submit "Update" %></div>
<% end %>

<%= link_to "Back", :back %>
