<h3>Users</h3>

<div class="container-fluid">
  <div class="row">

  <% if !current_user.nil? and current_user.admin? %>
  
    <table class="table table-hover table-bordered table-condensed table-striped">
    <thead>
      <tr>
          <th class="col-sm-2">User</th>
          <th class="col-sm-2">Name</th>
          <th class="col-sm-4">Role</th>
          <th class="col-sm-8">Action</th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.email, user %> </td>
          <td><%= user.name %></td>
          <td>
            <%= form_for(user) do |f| %>
              <%= f.select(:role, User.roles.keys.map {|role| [role,role]}) %>
              <%= f.submit 'Change Role', :class => 'btn-xs btn-link' %>
            <% end %>
          </td>
          <td>
            <%= link_to t('.edit'), edit_user_path(user) %>
            <%= link_to("Delete", user_path(user), :data => { :confirm => "Delete User: #{user.email}?" }, :method => :delete, :class => 'button-xs') unless user == current_user %>
          </td>
        </tr>
      <% end %>
    </tbody>
    </table>
  <% end %>

  </div>
</div>
