<h2>Add User</h2>

<%= form_for @user do |f| %>
  <p><%= f.label :name %><br />
  <%= f.text_field :name %></p>
  
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Sign up" %></div>
 <% end %>

