<%# add navigation links to this file %>
<% if user_signed_in? %>
  <li><%= link_to 'Logout', destroy_user_session_path, :method=>'delete', class: 'navbar-brand' %></li>
<% else %>
  <li><%= link_to 'Login', new_user_session_path, class: 'navbar-brand' %></li>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Edit User', edit_user_registration_path, class: 'navbar-brand' %></li>
<% else %>
  <li><%= link_to 'Sign Up', new_user_registration_path, class: 'navbar-brand' %></li>
<% end %>
<% if user_signed_in? and current_user.admin?%>
  <!-- <li><%= link_to 'Add User', new_user_path, class: 'navbar-brand' %></li> -->
  <li><%= link_to 'List Users', users_path, class: 'navbar-brand' %></li>
<% end %>
